.header {
  z-index: 1;
  background: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5333333333);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding-top: toRem(30);
  padding-bottom: toRem(30);
}
.header__title {
  margin-right: toRem(20);
}